include edl-v10 epl-v10
include README.rst
include CONTRIBUTING.md
include setup.py
include notice.html
include LICENSE.txt
include about.html

recursive-include src *.py
recursive-include examples *.py
