name: tox
on:
  push:
    branches: master
  pull_request:
    branches: master
jobs:
  tox:
    strategy:
      fail-fast: false
      max-parallel: 5
      matrix:
        python: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - run: pip install tox
      - run: tox -e py
